.contact-container {

    padding: 50px 0; /* Espaciado interno */
}

.contact-content {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Alinear texto al centro */
}

.contact-content h2 {
    font-size: 36px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    background-image: linear-gradient(to right, #6be9ff,#e26eff); /* Degradado de colores */
    -webkit-background-clip: text; /* Aplicar el degradado de colores al texto */
    background-clip: text;
    color: transparent; /* Hacer el texto transparente */
}

.contact-form {
    margin-top: 50px; /* Espacio superior */
    padding: 40px; /* Espaciado interno */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px); /* Ancho del 100% menos el padding */
    padding: 15px; /* Padding grande */
    margin-bottom: 25px; /* Espacio entre campos */
    border: 1px solid #dcdcdc; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

.contact-form textarea {
    height: 200px; /* Altura del área de texto más grande */
}

.contact-form button {
    width: 100%; /* Ancho completo */
    padding: 15px 0; /* Padding grande */
    background-color: #4a90e2; /* Azul profesional */
    color: #ffffff; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente grande */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
}

.contact-form button:hover {
    background-color: #357ac8; /* Cambio de color al pasar el mouse */
}
