.nav {
  background-color: black; /* Fondo transparente */
  color: white;
  position: relative; /* Cambiar según sea necesario */
  z-index: 1001; /* Asegura que esté por encima del Banner */
  width: 100%; /* Ancho completo */
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between; /* Alinea los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px; /* Espaciado interior */
}

.nav-items {
  display: flex;
  list-style-type: none; /* Quita los puntos de lista */
}

.nav-items a {
  color: white;
  text-decoration: none;
  margin: 0 10px; /* Espacio entre los elementos */
  transition: background-color 0.3s ease;
}


